* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 0;
    margin: 0;

}

a {
    color: #000;
    text-decoration: none;
  }

a:hover {
    color: rgb(105, 97, 97);
  }

.selected {
    font-weight: 600;
}

header {
    background-color: #a5dfc5;
    font-weight: 300;
    padding-bottom: 1rem;
    text-align: center;
    padding-bottom: 2rem;
}

#container {
    background-color: #5a6e7e;
    margin: 0 auto;
    
}

.main-content {
    min-height: 60vh;
    padding: 2rem 3rem;
}

h1 {
    text-align: center;
    /* 10 px top & bottom, 0 left and right */
    padding: 1.1em 0;
    font-weight: 500;
    font-size: 2.5em;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    font-size: 20px;
    
}

h2 { 
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    margin: 1rem 0 1.5rem 0;
}

p {
    padding: 0 2rem 1.3rem 2rem;
}

.skills {
    list-style-type: circle;
}

.skills-section {
    margin-left: 3em;
}

footer {
    background-color: #a5dfc5;
    padding: 1.5rem;
    text-align: center;

}