.main-content {
    height: 90vh;
    padding: 1rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about-img {
    width: 50%;
    height: auto;
    justify-content: center;
    
}

p {
    padding: 0 2.5rem;
}


